<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /StudentApi/api/

    # Redirect requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]
</IfModule>
